<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fitness.Properties.Settings.FitnessNutritieDBConnectionString"
            connectionString="Data Source=DESKTOP-6OA0842\MSSQLSERVER01;Initial Catalog=FitnessNutritieDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Fitness.Properties.Settings.FitnessNutritieDBConnectionString1"
            connectionString="Data Source=SPIRIDUSUL;Initial Catalog=FitnessNutritieDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>